body{
    font-family: 'Times New Roman', Times, serif;
}
.card{
    display: flex;
    max-width: 600px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #F8F9FA;

}

.border{
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0.3rem 1rem;
}
img{
    max-width: 100%;
    border-radius: 8px;
}